<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cover page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'amadon/css/style.css' %}" media="screen" title="Amadon"  charset="utf-8">
  </head>
  <body>
    <div class="cContainer">
      <h1>Welcome to Amadon Store</h1>
      <a href="product">Go Product</a>

    </div>
    <div class="container">

    </div>
    <div class="header">
      <img src="static/item_app/images/Pipe.jpg" width="800" height="200"alt=""/>
    </div>
    <div class="sidebar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="item">Items</a></li>
        <li><a href="faq">FAQ</a></li>
        <li><a href="testimonals">Testimonals</a></li>
        <li><a href="about">About Adam Items</a></li>
        <li><a href="contact">Contact Us</a></li>
      </ul>

    </div>
    <div class="mainContent">
      <h3> welcome to Adam Items</h3>
      <p>Adam store was created to satified the need of people that look for a place to for example, evade themself.</p>
      <p>The user can set theit own font preferencs for generic fonts in some browsers. </p>

    </div>
    <div class="footer">
      <p>Copyright &copy; 2018 Adam Store. All rights reserved.</p>

    </div>


  </body>
</html>
